replicaCount: 2

image:
  repository: 088581047201.dkr.ecr.us-west-2.amazonaws.com/django-app
  tag: v3
  pullPolicy: IfNotPresent

service:
  type: LoadBalancer
  port: 80
  targetPort: 8000

config:
  DEBUG: "False" # Вимкнено для безпеки
  ALLOWED_HOSTS: "*"

# Параметри БД перенесено в secrets.yaml
database:
  host: "myapp-db.cdw06aqem2kb.us-west-2.rds.amazonaws.com"
  port: "5432"
  name: "myapp"
  user: "postgres"
  # password: "..." # Пароль передається окремо через --set або secrets

resources:
  requests:
    cpu: 25m
    memory: 64Mi
  limits:
    cpu: 50m
    memory: 128Mi

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70
