controller:
  admin:
    username: admin
    password: admin123

  serviceType: LoadBalancer
  servicePort: 80
  service:
    port: 80
    targetPort: 8080

  resources:
    limits:
      cpu: "500m"
      memory: "1Gi"
    requests:
      cpu: "250m"
      memory: "512Mi"

  persistentVolume:
    enabled: true
    storageClass: "ebs-sc"
    size: 10Gi

  installPlugins:
    - kubernetes:latest
    - workflow-aggregator:latest
    - git:latest
    - configuration-as-code:latest
    - credentials-binding:latest
    - github:latest
    - docker-plugin:latest
    - docker-workflow:latest
    - job-dsl:latest

  serviceAccount:
    name: jenkins-sa
    create: false

  JCasC:
    configScripts:
      global-vars: |
        jenkins:
          globalNodeProperties:
            - envVars:
                env:
                  - key: ECR_REPOSITORY_URL
                    value: ${ecr_repository_url}
      credentials: |
        credentials:
          system:
            domainCredentials:
              - credentials:
                  - usernamePassword:
                      scope: GLOBAL
                      id: github-token
                      username: Maksym-Zyza
                      password: ${github_pat}
                      description: GitHub PAT
      seed-job: |
        jobs:
          - script: >
              job('seed-job') {
                description('Job to generate pipeline for Django project')
                scm {
                  git {
                    remote {
                      url('https://github.com/Maksym-Zyza/devops-ci-cd.git')
                      credentials('github-token')
                    }
                    branches('*/final-project')
                  }
                }
                steps {
                  dsl {
                    text('''
                      pipelineJob("django-docker") {
                        definition {
                          cpsScm {
                            scm {
                              git {
                                remote {
                                  url("https://github.com/Maksym-Zyza/devops-ci-cd.git")
                                  credentials("github-token")
                                }
                                branches("*/final-project")
                              }
                            }
                            scriptPath("final-project/Jenkinsfile")
                          }
                        }
                      }
                    ''')
                  }
                }
              }
